.lock-wrapper {
  display: flex;
  align-items: center;
}

.lock-button {
  font-size: 12px;
  background: #636363;
  color: #fff;
  padding: 6px 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.lock-button:hover {
  background-color: #474747;
}

.lock-button i {
  font-size: 1.5rem;
}
